/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Jan, 2019, 12:02:27 PM
    Author     : USER
*/


#navHome ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
#navHome li{
    float:left;
}  
#navHome li a{
    display:inline-block;
    color:white;
    text-align:center;
    padding: 14px 16px;
    text-decoration: none;
    
}
#navHome .active,li a:hover{
    background-color: red;
}
#navHome li.dropdown{
    display: inline-block;
    
}
#navHome .dropdown-content{
    display:none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
}
#navHome .dropdown-content a{
    color: white;
    padding: 12px 16px;
    text-align: left;  
    display:block;
}
#navHome .dropdown-content a:hover{
    background-color: red;
}
#navHome .dropdown:hover .dropdown-content{
    display:block;
}
#course-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    align-self: center;
}


#course-table td, #course-table th {
    border: 1px solid #d0d0d0;
    padding: 4px;
}

#course-table tr:nth-child(even){background-color: #f2f2f2;}

#course-table tr:hover {background-color: #d0d0d0;}

#course-table th {
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: left;
    background-color: #ffffff;
 
}
